h1 {
    font-family: 'Bigelow Rules', cursive;
    font-size: 3.5em;
    text-align: center;
    text-decoration: whitesmoke;

}
html {
    height: 100%;
}

body{
    background: linear-gradient(to top right, rgba(14,0,36,1) 0%, rgba(44,9,121,1) 76%, rgba(255,188,0,1) 100%);
    color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

canvas {

    margin: auto;
    display: block;
    position: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


section {
    margin-bottom: 1rem;
}

#playButton {
    font-size: 1.2rem;
    width: 6rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: purple;
    border-radius: 4px;
    align-self: center;    
}

#volumeLabel{
    padding-right: 30px;
}

button[data-playing="yes"]:after {
    content: "Pause";
}

button[data-playing="no"]:after {
    content: "Play";
}

.flex {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    
}

.container {
   justify-content: flex-start;
}

.item{
    flex-basis: auto;
    
}

p{
    text-align: center;
    padding-top: 10px;
}

#colorLabel {
    font-size: 2rem;
}
